# Copy to .env.local and adjust values for your machine.
# cp .env.example .env.local

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://local.api.la-guilde-des-seigneurs.com
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/guilde_seigneurs?serverVersion=8.0&charset=utf8mb4"
###< doctrine/doctrine-bundle ###
